@font-face {
    font-family: 'Sketchetica';
    src: url('../fonts/Sketchetica-Light/Sketchetica-Light.woff2') format('woff2'),               url('../fonts/Sketchetica-Light/Sketchetica-Light.woff') format('woff'),                  url('../fonts/Sketchetica-Light/Sketchetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Sketchetica';
    src: url('../fonts/Sketchetica-Bold/Sketchetica-Bold.woff2') format('woff2'),
         url('../fonts/Sketchetica-Bold/Sketchetica-Bold.woff') format('woff'),
         url('../fonts/Sketchetica-Bold/Sketchetica-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mistral';
    src: url('../fonts/Mistral W02/Mistral W02.woff') format('woff'),
         url('../fonts/Mistral W02/Mistral W02.woff2') format('woff2'),
         url('../fonts/Mistral W02/Mistral W02.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Senyum';
    src: url('../fonts/SENYUM V1/SENYUM V1.woff') format('woff'),
    url('../fonts/SENYUM V1/SENYUM V1.woff2') format('woff2'),
    url('../fonts/SENYUM V1/SENYUM V1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Velvet';
    src: url('../fonts/Velvet Teen W01 Regular/Velvet Teen W01 Regular.woff') format('woff'),
    url('../fonts/Velvet Teen W01 Regular/Velvet Teen W01 Regular.woff2') format('woff2'),
    url('../fonts/Velvet Teen W01 Regular/Velvet Teen W01 Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*.text {*/
    /*font-size: 50px;*/
    /*font-family: 'Sketchetica', Arial, sans-serif;*/
    /*font-weight: 300;*/
    /*text-shadow: 3px -3px 3px #f00;*/
/*}*/
/*.bold {*/
    /*font-family: 'Sketchetica', Arial, sans-serif;*/
    /*font-weight: 700;*/
/*}*/



.title {
    font-size: 60px;
    font-family: 'Mistral', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: 3px -3px 3px #f00;
}
.txt-one {
    font-size: 40px;
    font-family: 'Senyum', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}
.txt-two {
    font-size: 40px;
    font-family: 'Velvet', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}
.table-box {
    /*width: 80%;*/
    margin: auto;
    text-align: center;
}
.table {
    border: 3px solid #6300ff;
    display: inline-block;
    text-align: center;
    /*border-collapse: collapse;*/
}
.journal {
    font-weight: 700;
}
td, th {
    border: 2px solid #000;
    text-align: center;
    padding: 10px 3px;
}
th {
    background-color: #72c2ff;
}


/*---------------INPUT---------------*/

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
input[type='submit'] {
    background-color: red;
    color: #fff;
}

input[type='reset'] {
    background-color: black;
    color: #fff;
}

select {
    display: block;
}

.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    transition: 3s;
}

input:focus {
    transform: scale(1.1);
    border: 2px solid black;
    background-color: deeppink;
}