* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.wrapper {
    background-image: url('../img/page-bg.jpg');
    background-color: #70c4ff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
}
.conteiner {
    background-color: #ffffff;
    width: 480px;
    margin: auto;
    padding: 60px 37px 44px;
    font-family: Arial, sans-serif;
}
.title {
    font-family: "Pathway Gothic One", sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    color: #263555;
    margin-bottom: 27px;
}
.plane {
    display: block;
    margin: 0 auto 27px;
}
.sub-title {
    color: #263555;
    font-size: 14px;
    margin-bottom: 22px;
}
.text {
    color: #4e5050;
    font-size: 12px;
}
.article {
    margin-bottom: 51px;
}
/*.list-item {*/
    /*margin-bottom: 25px;*/
/*}*/
/*.list-item:last-child {*/
    /*margin-bottom: 0;*/
/*}*/
.list-item:nth-last-child(n+2) {
    margin-bottom: 25px;
}

.article-border {
    border-bottom: 1px solid #000000;
    padding-bottom: 52px;
}
.text-offer {
    margin-bottom: 37px;
}
.offer-list {
    display: inline-block;
    vertical-align: top;
}
/*.offer-list:last-child {*/
    /*margin-left: 50px;*/
/*}*/
.offer-item {
    color: #263555;
    font-size: 14px;
    margin-bottom: 18px;
}
.offer-item:last-child {
    margin-bottom: 0;
}
body {
    counter-reset: count-princ count-offer count-title;
}
.list-item {
    counter-increment: count-princ;
}
.offer-item {
    counter-increment: count-offer;
}
.title {
    counter-increment: count-title;
}
.sub-title {
    display: inline-block;
    width: 90%;
}
.title {

}
.title::before {
    content:counter(count-title);
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #2cff9d;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    padding-top: 2px;
    margin-right: 5px;
}
.list-item::before {
    content:  counter(count-title) '.' counter(count-princ);
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #79c2ff;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    padding-left: 1px;
    padding-top: 1px;
}
.offer-list {
    width: 48%;
    padding: 0;
}
.offer-item {
    margin: 0;
    padding-bottom: 10px;
}
.offer-item::before {
    content: counter(count-offer);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ffb83f;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}