header {
    height: 91px;
}
.logo {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 30px;
    font-weight: 300;
    float: left;
    text-transform: uppercase;
    margin-left: 1px;
}
.logo::first-letter {
    color: rgba(26, 188, 156, 255);
    font-weight: 700;
}
.navi {
    font-size: 14px;
    float: right;
    text-transform: uppercase;
    height: 35px;
}
.navi-item {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: #000;
    margin-right: 35px;
    line-height: 35px;
}
.navi-item:last-child {
    margin-right: 1px;
}
.navi-item:hover {
    color: rgba(26, 188, 156, 255);
}