.header {
    background-color: #000;
}
.logo {
    background-color: #009688;
    padding: 0.5rem 1rem;
    display: inline-block;
    font-size: 0.9375rem;
    color: #fff;
}
.nav {
    display: none;
}
